**/.secrets.env
**.pem

**.DS_Store

**_compiled.json

# default python virtual environment name
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
!contracts/lib
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# protostar
!contracts/build/
contracts/build/*[!_abi].json
