**/.secrets.env
**.pem

**.DS_Store

**_compiled.json

.vscode/

# default python virtual environment name
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
!contracts/starknet/lib
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# cli
cli-config.ini
oracle_constructor_data.json
!pragma-package/pragma/cli/sample_config/oracle_constructor_data.json

# private files
private/
stagecoach/jobs/publishers/starkex/app.py

# misc private files
private/

.env.local
