[submodule "cairo_streams"]
	url = https://github.com/onlydustxyz/cairo-streams
	path = contracts/starknet/lib/cairo_streams
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
