[bumpversion]
current_version = 0.5.4
commit = True
tag = True

[bumpversion:file:setup.cfg]

[bumpversion:file:../publisher/sample-publisher/all/Dockerfile]

[bumpversion:file:../publisher/sample-publisher/coinbase/Dockerfile]

[bumpversion:file:../publisher/monitor/balance/Dockerfile]

[bumpversion:file:../publisher/monitor/price/Dockerfile]
