@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/SpaceGrotesk-wght.woff2) format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;