.bigScreen {
  max-width: 1700px;
}

.darkGreenBox {
  display: flex;
  padding: 56px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(#02201e, #02201e) padding-box,
    linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0.25) 020%,
      rgba(255, 255, 255, 0.06%) 050%,
      rgba(255, 255, 255, 0.25) 080%,
      rgba(255, 255, 255, 0.205) 100%) border-box;
  backdrop-filter: blur(12.5px);
}

.greenBox {
  display: flex;
  padding: 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid var(--light-green-12, rgba(181, 240, 229, 0.12));
  background: var(--green-12, rgba(27, 99, 82, 0.12));
}

.greenBoxPrice {
  display: flex;
  padding: 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--light-green-12, rgba(181, 240, 229, 0.12));
  background: var(--green-12, rgba(27, 99, 82, 0.12));
}

.assetBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  grid-gap: 10px;
  padding-bottom: 16px;
  padding-top: 24px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(130px, 1fr);
}

.dpBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  grid-gap: 10px;
  padding-bottom: 16px;
  padding-top: 24px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 1fr);
}

.assetPerf {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  grid-gap: 10px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(130px, 1fr);
}

.dpPerf {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  grid-gap: 10px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 1fr);
}

.priceComp {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  grid-gap: 10px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 1fr);
}

.pairComp {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  grid-gap: 10px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(300px, 1fr);
}


@media (max-width: 1400px) {
  .assetBox {
    width: fit-content;
  }

  .assetPerf {
    width: fit-content;
  }

  .dpBox {
    width: fit-content;
  }

  .dpPerf {
    width: fit-content;
  }

  .priceComp {
    width: fit-content;
  }

  .pairComp {
    width: fit-content;
  }
}

@media (max-width: 900px) {
  .pairComp {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-columns: minmax(150px, 1fr);
  }
}

@media (max-width: 640px) {
  .darkGreenBox {
    padding: 24px 32px;
  }
}