name: Publish Pragma Package
on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true

      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Load cached Poetry installation
        uses: actions/cache@v3
        with:
          path: ~/.local # the path depends on the OS
          key: poetry-1 # increment to reset cache

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Build and publish Python package
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          poetry install --only dev
          cd pragma-package
          poetry config pypi-token.pypi $PYPI_API_TOKEN
          poetry publish --build --skip-existing

      - name: Build and publish Docker image
        env:
          DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}
        run: |
          export $(grep -v '^#' .env | xargs)
          export PRAGMA_PACKAGE_VERSION=$(grep 'version' pragma-package/pyproject.toml | grep -e '[0-9][0-9a-zA-Z]*[-.a-z0-9]*' -o)
          echo $PRAGMA_PACKAGE_VERSION
          docker build . --target production --build-arg PRAGMA_PACKAGE_VERSION=${PRAGMA_PACKAGE_VERSION} -t astralylabs/pragma-publisher:${PRAGMA_PACKAGE_VERSION}
          echo $DOCKER_ACCESS_TOKEN | docker login -u ${DOCKER_LOGIN} --password-stdin
          docker push astralylabs/pragma-publisher:${PRAGMA_PACKAGE_VERSION}
